body *{
  font-family: "Lato"
}
footer {
  bottom: 0;
  width: 100%;
  height: auto;
  text-align: center;
}
a {
  color: grey
}
.content-view {
  overflow: hidden;
}
.works {
  float: left;
  border: 1px solid grey;
  border-radius: 5px;
  height: auto;
  margin-left: 6%;
  margin-top: 3%;
  transition: 0.5s;
  overflow: hidden;
}
.works:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}
.works h3{
  text-align: center;
}
.descriptionSection {
  width: 70%;
  height: auto;
  margin: auto;
}
.workers {
  margin-left: 10%;
  position: relative;
}
.workers img {
  float: left;
}
.workerInfo {
  float: left;
}
.rounded-circle {
  width: 100px;
  height: 100px;
}
.nav-section{
  padding: 0 !important;
  margin: 0 !important;
}

.date-toggle p{
  display: inline-block;
  padding-left: 2%;
  padding-right: 2%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.switch {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 34px;
  margin-top: 3%;
}
.date-toggle p {
  display: inline-block;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.form-control {
  margin-top: 5%;
}
input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(66px);
  -ms-transform: translateX(66px);
  transform: translateX(66px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#date {
  position: absolute;
  bottom: 0;
  left: 50%;
}
