<div class="content-view">
  <input class="form-control col-8 offset-md-2 offset-sm-2 mr-sm-2" type="search" placeholder="Search" aria-label="Search" ng-model="searchWorkers.name">
  <div class="date-toggle col-12">
    <p class="offset-md-4 offset-sm-3">Earliest first</p>
    <label class="switch">
      <input type="checkbox" ng-model = "checkBox">
      <span class="slider round" ng-click="sortBy('deadline')"></span>
    </label>
    <p>Latest first</p>
  </div>

  <div class="works col-5" ng-repeat="w in works | orderBy:orderProperty">
    <h3 >{{w.name}}</h3>
    <div class="descriptionSection">
      <p>{{w.description}}</p>
    </div>
    <div class="workers col-12" ng-repeat="wr in workers | filter: searchWorkers" ng-if="w.workerId == wr.id">
      <img ng-src="{{wr.image}}" class="rounded-circle" alt="Worker's Image">
      <div class="workerInfo">
        <h4>{{wr.name}}</h4>
        <p>{{wr.companyName}}</p>
        <p>{{wr.email}}</p>
        <br>
        <br>
      </div>
    </div>
    <p id="date">{{w.deadline * 1000 | date:'yyyy-MM-dd h:m:s a'}}</p>
  </div>
</div>
